/* form css */
input#search_text { margin:50px 5px 5px 5px; float:left; width:300px; height:19px; padding:3px; font-size:14px; line-height:19px;}
input#search_but { margin:48px 5px 5px 5px; float:left;}
